<nav id="leftbar">
    <% results.forEach(function(result) { %>
        <div>
            <a href="/server/<%= result.server_id %>"><img src="<%= result.server_image %>" alt="<%= result.server_name %>"></a>
            <% Object.keys(result.channels).forEach(function(key) { %>
                <a href="/channel/<%= result.server_id %>/<%= result.channels[key].id %>"><p class="channel"><%= result.channels[key].name %></p></a>
            <% }); %>
        </div>
    <% }); %>
</nav>